.footer {
  padding: 20px 0;
  margin-top: 50px;
  border-top: 2px solid $primary;

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .copyright {
    @extend .col-xs-6;
  }

  .colophon {
    @extend .col-xs-6;

    text-align: right;
    font-weight: 300;
  }
}
