
.header {
  padding: 50px 0;
  text-align: left;

  @media (max-width: $screen-xs-max) {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
  }

  .headline {
    margin-top: 0;
    font-size: 40px;
    font-weight: 300;
  }

  .avatar-col {
    @extend .col-sm-6;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }

    text-align: center;
  }

  .avatar img {
    border: 2px solid transparent;
    transition: .3s border;

    &:hover {
      border: 2px solid $primary;
    }
  }

  .meta-col {
    @extend .col-sm-6;

    p {
      font-weight: 300;
      color: #888;
    }
  }

  .nav-col {
    @extend .col-xs-12;
  }
}

/*nav*/.navigation {
  position: absolute;
  top: -40px;
  left: 15px;
  right: 15px;
  text-align: right;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    text-align: center;
    left: 0;
    right: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .menu-items {
    @extend .vertical-list;

    margin: 0 -10px;

    li {
      margin: 0 10px;

      span.glyphicon {
        font-size: 11px;
      }
    }
  }
}

.social-link-list {
  @extend .vertical-list;

  margin-top: 15px !important;
  margin-bottom: -10px;

  a {
    display: block;
    border: none;

    &:hover {
      .link-icon path {
        fill: $primary;
      }
    }
  }

  li {
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .link-icon {
    height: 30px;
    width: 30px;
    opacity: 0.3;

    &.replaced-svg {
      opacity: 1.0;
    }

    path {
      fill: $disabled;
      transition: fill .3s;
    }
  }
}
