@import "../lib/bootstrap/assets/stylesheets/_bootstrap.scss";

@import "_variables.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_figure.scss";
@import "_blogpost.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $light-grey;
  font-family: "Source Sans Pro", sans-serif;
  color: $text-color;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: fixed;
    z-index: 1000;
  }
}

a {
  color: $text-color;
  transition: .3s color;
  border-bottom: 1px solid $grey;

  &:hover, &:active, &:focus {
    color: $link-color-hover;
    border-bottom-color: $link-color-hover;
    text-decoration: none;
  }

  &.-slight {
    border: none;
  }
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

h2.headline {
  font-weight: 300;
  font-size: 30px;

  &:before {
    content: '//';
    margin-right: 10px;
  }
}

.-relative {
  position: relative
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  border: none;
  height: 50px;
  width: 50px;
  color: $disabled;

  > span {
    height: 20px;
    width: 20px;
    margin-left: 12px;
    margin-top: 6px;
  }
}

.breakpoint-debug {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.img-rounded {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.vertical-list {
  padding: 0;
  margin: 0;
  display: inline-block;

  > li {
    float: left;
    list-style: none;
  }

  &:after, &:before {
    clear: both;
  }
}

.unveil {
  opacity: 0;
  transition: opacity 0.7s ease-in;

  &.-unveiled {
    opacity: 1;
  }
}

hr.spacer {
  border-top: 1px solid $grey;
  width: 100%;
  margin: 30px 0;
}

.has-spacer {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: 40px 0;
  margin: 10px 0;

  &.is-proximate {
    border-top: none;
    padding-top: 0;
  }

  @media (max-width: $screen-sm-max) {
    padding: 20px 0;
  }
}


.wallmeta {
  @extend .col-xs-12;

  margin-top: 50px;
  text-align: center;
  color: $disabled;
  font-weight: 300;
}

.imgSpinner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  transition: all .3s;
  background-color: rgba(0,0,0,0.5);
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 300;

  &.-spinning {
    height: 50px;
  }

  > span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: .2s;
    }

    &:nth-child(3) {
       animation-delay: .4s;
    }
  }
}

.grid {
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &-item {
    padding: 0;
    opacity: 0;

    &.-unveiled {
      opacity: 1;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &-item-content {
    overflow: hidden;
    text-align: center;
    padding: 2px;

    > a {
      display: block;
      border: none;
    }
  }

  .img-wrapper {
    overflow: hidden;
    // background-color: #6A6A6A;

    /*&:before {
      @keyframes spinner {
        to {transform: rotate(360deg);}
      }

      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: #07d;
      border-bottom-color: #07d;
      animation: spinner .8s ease infinite;
    }*/

    > img {
      transform: scale(1);
      transition: all 1s;
    }

    &:hover > img {
      transform: scale(1.1);
    }
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-progress {
  background: $primary;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pagination {
  padding-top: 20px;
  display: block;

  .prev-col {
    @extend .col-xs-4;
  }

  .middle-col {
    @extend .col-xs-4;
    text-align: center;
  }

  .next-col {
    @extend .col-xs-4;
    text-align: right;
  }

  .prev, .next {
    &.-disabled {
      color: $disabled;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}



.spinner {
  margin: 100px auto;
  height: 40px;
  text-align: center;
  font-size: 10px;
  opacity: 100;

  &.-hidden {
    transition: .5s;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    height: 0;
  }
}

.spinner > div {
  background-color: $disabled;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 2px;
  transition: height .3s;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
